# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# from goenv
.go-version


# terraform files
deploy/terraform/.terraform.lock.hcl
deploy/terraform/.terraform/
deploy/terraform/terraform.tfstate
deploy/terraform/terraform.tfstate.backup
# inside terraform files for terraform keys for service account
deploy/terraform/keys*.json
# inside terraform files zip file uploaded to cloud storage already
illuminating-gosource.zip


